@font-face {
  font-family: 'MonaspaceKryptonSWE';
  src: url('fonts/MonaspaceKrypton-SemiWideExtraBold.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Alibaba-PuHuiTi-H';
  src: url('fonts/Alibaba-PuHuiTi/Alibaba-PuHuiTi-H.ttf');
}